@font-face {
    font-family: "San Francisco Bold";
    src: url("../src/font/System San Francisco Text Bold.ttf");
}

@font-face {
    font-family: "San Francisco Medium";
    src: url("../src/font/System San Francisco Text Medium.ttf");
}

@font-face {
    font-family: "Pinfang";
    src: url("../src/font/苹方-简 中黑体.ttf");
}


.mask {
    background: #fcee6d;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
